<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="HandheldFriendly" content="true">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="author" content="stc66@qq.com" />
		<meta name="copyright" content="stc" />
		<meta name="robots" content="index,follow" />
		<link type="image/x-icon" href="favicon.ico" rel="stc icon" />

		<title>首页</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />

		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />

		<!--[if lt IE 9]>
     	 	<script src="js/html5shiv.min.js"></script>
      		<script src="js/respond.min.js"></script>
   		 <![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top my-navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand logo">
						<img src="img/logo.png" alt="我的博客"/>
					</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> 
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">首页</a></li>						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">前端 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="category.html">HTML5</a></li>
								<li class="divider" role="separator"></li>
								<li><a href="category.html">JavaScript</a></li>
								<li class="divider" role="separator"></li>
								<li><a href="category.html">网页设计</a></li>										
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Java <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Spring</a></li>
								<li class="divider" role="separator"></li>									
								<li><a href="#">Struts2</a></li>								
								<li class="divider" role="separator"></li>
								<li><a href="#">Hibernate</a></li>								
								<li class="divider" role="separator"></li>
								<li><a href="#">Spring MVC</a></li>
								<li class="divider" role="separator"></li>
								<li><a href="#">Spring Boot</a></li>
								<li class="divider" role="separator"></li>
								<li><a href="#">Spring Data JPA</a></li>
							</ul>
						</li>	
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">.NET<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Asp.net</a></li>
								<li class="divider" role="separator"></li>									
								<li><a href="#">Asp.net MVC</a></li>								
								<li class="divider" role="separator"></li>
								<li><a href="#">Entity Framework </a></li>								
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">数据库<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">MySQL</a></li>
								<li class="divider" role="separator"></li>
								<li><a href="#">SQL Server</a></li>
							</ul>
						</li>						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">操作系统 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Windows</a></li>
								<li class="divider" role="separator"></li>
								<li><a href="#">Linux</a></li>
								<li class="divider" role="separator"></li>
								<li><a href="#">Mac</a></li>								
							</ul>
						</li>	
						<li><a href="index.html">其它类</a></li>
						<li><a href="index.html">关于我</a></li>						
					</ul>
					<form action="" class="navbar-form navbar-right navbar-form-top" role="search">
						<div class="input-group">
							<input type="text" class="form-control input-sm" placeholder="站内搜索" />
							<span class="input-group-btn">
								<button type="submit" class="btn btn-sm"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</nav>
		
		<div class="navbar-fixed-height"></div>
		
		<!--<div class="jumbotron categoryImage_bg">
			<div class="container">
				<hgroup>
					<h2>类别标题</h2>
					<h4>这是一个学习性的网站</h4>
				</hgroup>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2">
					<div class="list-group">
						<a href="#" class="list-group-item active">Spring</a>
						<a href="#" class="list-group-item">Struts2</a>
						<a href="#" class="list-group-item">Hibernate</a>
						<a href="#" class="list-group-item">Spring MVC</a>
						<a href="#" class="list-group-item">Spring Boot</a>
					</div>
				</div>
			</div>
		</div>-->
		
		<div class="child-nav">
			<div class="container text-center">
				<ul>
					<li><a href="/">HTML5</a></li>
					<li><a href="/" class="active">Javascript</a></li>
					<li><a href="/">网页设计</a></li>
				</ul>
			</div>
			<ul class="breadcrumb">
				<li><a href="/" class="text-muted">Jquery</a></li>
				<li><a href="/">ExtJS</a></li>
				<li><a href="/" class="text-muted">AngularJS</a></li>
				<li><a href="/" class="text-muted">EasyUI</a></li>
			</ul>	
		</div>
		
		<div class="childnav-fixed-height"></div>
		<div class="bodybg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-9 col-lg-9">
						<div class="left-content">
							<div class="list-group">
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">Android项目实战（二十三）：仿QQ设置App全局字体大小</h4>
									<p class="list-group-item-text">项目需求： 因为产品对象用于中老年人，所以产品设计添加了APP全局字体调整大小功能。 这里仿做QQ设置字体大小的功能。 QQ实现的效果是，滚动下面的seekbar，当只有seekbar到达某一个刻度的时候，这时候上部分的效果展示部分会改变文字大小， 但是在拖动过程中字体不会改变。关闭此界面...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>	
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">关于Lind.DDD.Api客户端的使用与知识分享</h4>
									<p class="list-group-item-text">回到目录 关于Lind.DDD.Api的使用与客户端的调用 作者：张占岭 花名：仓储大叔 框架：Lind.DDD,Lind.DDD.Api 目录 Api里注册全局校验特性 1 Api中设置全局的Cors跨域资源访问 2 Api直接返回Json，而不是Xml 2 Api中Controller的Get...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>	
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">iOS微信里打开app，Universal Links</h4>
									<p class="list-group-item-text">IOS微信里打开app，Universal Links这两天在弄分享，从第三方应用或者浏览器打开自己app的东西 传统的方式是通过URL Scheme的方式，但是iOS9以后又出了新的更完美的方式Universal Links。 传统的URL Scheme方式微信内置的浏览器都是封锁了所有它投资的公司之外的，只有白名单的才可以（比如京东，B站，等）...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">Android项目实战（二十三）：仿QQ设置App全局字体大小</h4>
									<p class="list-group-item-text">项目需求： 因为产品对象用于中老年人，所以产品设计添加了APP全局字体调整大小功能。 这里仿做QQ设置字体大小的功能。 QQ实现的效果是，滚动下面的seekbar，当只有seekbar到达某一个刻度的时候，这时候上部分的效果展示部分会改变文字大小， 但是在拖动过程中字体不会改变。关闭此界面...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>	
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">关于Lind.DDD.Api客户端的使用与知识分享</h4>
									<p class="list-group-item-text">回到目录 关于Lind.DDD.Api的使用与客户端的调用 作者：张占岭 花名：仓储大叔 框架：Lind.DDD,Lind.DDD.Api 目录 Api里注册全局校验特性 1 Api中设置全局的Cors跨域资源访问 2 Api直接返回Json，而不是Xml 2 Api中Controller的Get...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>	
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">iOS微信里打开app，Universal Links</h4>
									<p class="list-group-item-text">IOS微信里打开app，Universal Links这两天在弄分享，从第三方应用或者浏览器打开自己app的东西 传统的方式是通过URL Scheme的方式，但是iOS9以后又出了新的更完美的方式Universal Links。 传统的URL Scheme方式微信内置的浏览器都是封锁了所有它投资的公司之外的，只有白名单的才可以（比如京东，B站，等）...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>	
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">iOS微信里打开app，Universal Links</h4>
									<p class="list-group-item-text">IOS微信里打开app，Universal Links这两天在弄分享，从第三方应用或者浏览器打开自己app的东西 传统的方式是通过URL Scheme的方式，但是iOS9以后又出了新的更完美的方式Universal Links。 传统的URL Scheme方式微信内置的浏览器都是封锁了所有它投资的公司之外的，只有白名单的才可以（比如京东，B站，等）...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">Android项目实战（二十三）：仿QQ设置App全局字体大小</h4>
									<p class="list-group-item-text">项目需求： 因为产品对象用于中老年人，所以产品设计添加了APP全局字体调整大小功能。 这里仿做QQ设置字体大小的功能。 QQ实现的效果是，滚动下面的seekbar，当只有seekbar到达某一个刻度的时候，这时候上部分的效果展示部分会改变文字大小， 但是在拖动过程中字体不会改变。关闭此界面...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>	
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">关于Lind.DDD.Api客户端的使用与知识分享</h4>
									<p class="list-group-item-text">回到目录 关于Lind.DDD.Api的使用与客户端的调用 作者：张占岭 花名：仓储大叔 框架：Lind.DDD,Lind.DDD.Api 目录 Api里注册全局校验特性 1 Api中设置全局的Cors跨域资源访问 2 Api直接返回Json，而不是Xml 2 Api中Controller的Get...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>	
								<a href="#" class="list-group-item">
									<h4 class="list-group-item-heading">iOS微信里打开app，Universal Links</h4>
									<p class="list-group-item-text">IOS微信里打开app，Universal Links这两天在弄分享，从第三方应用或者浏览器打开自己app的东西 传统的方式是通过URL Scheme的方式，但是iOS9以后又出了新的更完美的方式Universal Links。 传统的URL Scheme方式微信内置的浏览器都是封锁了所有它投资的公司之外的，只有白名单的才可以（比如京东，B站，等）...</p>
									<p class="text-muted">发布于 2016-08-19 16:18 <span class="glyphicon glyphicon-envelope"></span> 评论(12) <span class="glyphicon glyphicon-book"></span> 阅读(52)</p>
								</a>								
							</div>	
							
							<div class="text-center">
								<ul class="pagination">
									<li class="disabled"><a href="#">&laquo;</a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="right-content">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">本站APP下载</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-xs-6 col-sm-12 col-md-6 position-postion">
											<a class="thumbnail" href="#">
												<img src="img/wxPay.jpg"/>
											</a>
											<div class="text-center">Android</div>											
										</div>
										<div class="col-xs-6 col-sm-12 col-md-6 position-postion">
											<a class="thumbnail" href="#">
												<img src="img/wxPay.jpg"/>
											</a>
											<div class="text-center">IOS</div>												
										</div>										
									</div>
								</div>
							</div>
						
							<a href="#" class="thumbnail">
								<img src="img/tab3.png" />
							</a>
							
							<div class="panel panel-default hidden-sm">
								<div class="panel-heading">
									阅读排行榜
									<a href="#" class="text-muted pull-right" style="font-family: arial;">>></a>
								</div>
								<div class="list-group">
									<a href="#" class="list-group-item read">关于Lind.DDD.Api客户端的使用与知识分享</a>
									<a href="#" class="list-group-item read">iOS微信里打开app，Universal Links</a>
									<a href="#" class="list-group-item read">Android项目实战（二十三）：仿QQ设置App全局字体大小</a>
									<a href="#" class="list-group-item read">关于Lind.DDD.Api客户端的使用与知识分享</a>
									<a href="#" class="list-group-item read">iOS微信里打开app，Universal Links</a>
									<a href="#" class="list-group-item read">Android项目实战（二十三）：仿QQ设置App全局字体大小</a>
									<a href="#" class="list-group-item read">iOS微信里打开app，Universal Links</a>
									<a href="#" class="list-group-item read">Android项目实战（二十三）：仿QQ设置App全局字体大小</a>									
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									关于本站
								</div>
								<div class="panel-body">
									<p class="text-primary">汉斯猴网址：www.cqhsh.com</p>
									<p class="text-success">博主QQ号：3326451812</p>
									<p class="text-info">博主Email：stc66@qq.com</p>
									<p class="text-warning">QQ交流群：580230830</p>
								</div>
							</div>

							<div class="clearfix fixPosition"></div>
							
							<div class="panel panel-primary myzz">
								<div class="panel-heading">
									<div class="panel-title">赞助二维码</div>
								</div>
								<div class="panel-body">
									<div class="text-danger well">如果本博客对您有帮助，那么请您赞助我，让我更有激情的写下去，帮助更多的人。</div>
									<div class="row">
										<div class="col-xs-6 col-sm-12 col-md-6 position-postion">
											<div class="thumbnail">
												<img src="img/baoPay.jpg"/>
											</div>
											<div class="text-center">支付宝赞助</div>											
										</div>
										<div class="col-xs-6 col-sm-12 col-md-6 position-postion">
											<div class="thumbnail">
												<img src="img/wxPay.jpg"/>
											</div>
											<div class="text-center">微信赞助</div>												
										</div>										
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer>
			<div class="container">
				<p>本站共 998 次访问</p>
				<p>&copy; 2016-2016 汉斯猴博客, All Rights Reserved</p>				
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/rem.min.js"/>
		<script type="text/javascript" src="js/jquery.placeholder.min.js" ></script>
		<script type="text/javascript" src="js/myJs.js" ></script>
	</body>
</html>